{
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "importOrder": [
    "./moduleAliases",
    "^@localTypes",
    "^@constants",
    "^@config",
    "^@resources/(.*)$",
    "^@tasks/(.*)$",
    "^@deployments/(.*)$",
    "^@chainHandler/(.*)$",
    "^@bot/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["classProperties", "typescript"]
}
