{
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "importOrder": [
    "./moduleAliases",
    "^@(localTypes|constants|config|logger|resources|deployments)",
    "^@tasks/(.*)$",
    "^@chainHandler/(.*)$",
    "^@bot/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["classProperties", "typescript"]
}
