{
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "importOrder": [
    "./moduleAliases",
    "^@(localTypes|constants|utils|logger|resources|dist|deployments)",
    "^@(root|tasks|scripts)/(.*)$",
    "^@chainHandler/(.*)$",
    "^@communicator/(.*)$",
    "^@bot/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["classProperties", "typescript"]
}
