{
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "importOrder": ["^@src/(.*)$", "^@constants/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["classProperties", "typescript"]
}
